{{#modal-dialog 
  close="cancel"
  targetAttachment="center"
  translucentOverlay=true}}
  {{#if session.isAuthenticated}}
    {{#ui/animated-button bigButton=true fillColor="#1976D2" clicked=(action "signOut")}} Sign Out {{/ui/animated-button}}
    {{#ui/animated-button bigButton=true fillColor="#D2D0D0" clicked=(action "cancel")}} Cancel {{/ui/animated-button}}
  {{else}}
    {{#if registering}}
      <div class="dialog-content wider-dialog">
        <div class="dialog-body">
          <form>
            <div class="form-row">
              <label for="firstName">First name</label>
              {{input value=user.firstName}}
            </div>
            <div class="form-row">
              <label for="lastName">Last name</label>
              {{input value=user.lastName}}
            </div>
            <div class="form-row">
              <label for="email">Email</label>
              {{input value=user.email}}
            </div>
            <div class="form-row">
              <label for="password">Password</label>
              {{input value=user.password type="password"}}
            </div>
            <div class="form-row">
              <label for="passwordConfirmation">Retype Password</label>
              {{input value=user.passwordConfirmation type="password"}}
            </div>           
          </form>
          {{#if errorMessage}}
            {{errorMessage}}
          {{/if}}
        </div>
        <div class="dialog-footer">
          {{#ui/animated-button bigButton=true fillColor="#1976D2" clicked=(action "saveNewUser")}} Register {{/ui/animated-button}}
          {{#ui/animated-button bigButton=true fillColor="#D2D0D0" clicked=(action "cancel")}} Cancel {{/ui/animated-button}}  
        </div>
      </div>  
    {{else}}
      <div class="dialog-content">
        <div class="dialog-body">
          <div class="dialog-body-text">Please sign in to your account.</div>
          <form>
            <div class="form-row">
              <label for="identification">Email</label>
              {{input value=identification}}
            </div>
            <div class="form-row">
              <label for="password">Password</label>
              {{input value=password type="password"}}
            </div>
          </form>
      {{#if errorMessage}}
        {{errorMessage}}
      {{/if}}
        </div>
        <div class="dialog-footer">
          {{#ui/animated-button bigButton=true fillColor="#1976D2" clicked=(action "signIn")}} Sign In {{/ui/animated-button}}
          {{#ui/animated-button bigButton=true fillColor="#D2D0D0" clicked=(action "cancel")}} Cancel {{/ui/animated-button}}  
        </div>
        <div class="dialog-etc">
          <div class="dialog-etc-text">
            To register, click here.
          </div>
          <div>
            {{#ui/animated-button bigButton=true fillColor="#1976D2" clicked=(action "openRegisterForm")}} Register {{/ui/animated-button}}
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
  
{{/modal-dialog}}