<div class="content">
  {{ui/flash-message}}  
  <div class="header">
    {{#if session.isAuthenticated}}
      <div {{action "openLoginDialog"}} class="sign-in-button">
       <div class="sign-in-text">
         Welcome
        </div>
         <img class="account-icon" src="images/account_icon.png"> 
      </div>
    {{else}}
      <div {{action "openLoginDialog"}} class="sign-in-button">
       <div class="sign-in-text">
         Sign In
        </div>
         <img class="account-icon" src="images/account_icon.png"> 
      </div>
    {{/if}}    
  </div>
  <div class="message">
    {{gameState.gameStateText}}
  </div>
  <div class="body">
    <div>
      {{connect-four-board/board fillColor="#00BCD4" board=gameState.board}}
    </div>
    <div class="buttons">
      {{#ui/animated-button
      bigButton=true
      fillColor="#FF9800"
      clicked=(action "openDifficultyDialog")}}
        Difficulty: {{gameState.difficulty}}
      {{/ui/animated-button}}
      {{#ui/animated-button
      bigButton=true
      fillColor="#FF9800"
      clicked=(action "openConfirmationDialog")}}
        New Game
      {{/ui/animated-button}}
      {{#ui/animated-button
      bigButton=true
      tooltipEnabled=notAuthenticated
      tooltipText=tooltipText
      buttonDisabled=notAuthenticated
      fillColor="#FF9800"
      clicked=(action "openSaveGameDialog")}}
        Save Game
      {{/ui/animated-button}}
      {{#ui/animated-button
      bigButton=true
      tooltipEnabled=notAuthenticated
      tooltipText=tooltipText
      buttonDisabled=notAuthenticated
      fillColor="#FF9800"
      clicked=(action "openLoadGameDialog")}}
        Load Game
      {{/ui/animated-button}}
    </div>
  </div>
</div>
{{#if modalDialog.isShowingDialog}}
  {{component modalDialog.dialogPath}}
{{/if}}
