<div class="content">
  <div class="header">
    {{#if session.isAuthenticated}}
      authenticated
    {{else}}
      nonono
    {{/if}}    
    <img {{action "openLoginDialog"}} class="account-icon" src="images/account_icon.png">
  </div>
  <div class="body">
    <div>
      {{connect-four-board/board fillColor="#00BCD4"}}
    </div>
    <div class="buttons">
      {{#ui/animated-button bigButton=true fillColor="#FF9800" clicked=(action "openDifficultyDialog")}} Difficulty: {{gameState.difficulty}} {{/ui/animated-button}}
      {{#ui/animated-button bigButton=true fillColor="#FF9800" clicked=(action "openConfirmationDialog")}} New Game {{/ui/animated-button}}
      {{#ui/animated-button bigButton=true fillColor="#FF9800"}} Save Game {{/ui/animated-button}}
      {{#ui/animated-button bigButton=true fillColor="#FF9800"}} Load Game {{/ui/animated-button}}
      {{#ui/animated-button bigButton=true fillColor="#FF9800"}} Replay {{/ui/animated-button}}
    </div>
  </div>
</div>
{{#if modalDialog.isShowingDialog}}
  {{component modalDialog.dialogPath}}
{{/if}}
